<div style="width:100%;">
    <div id="admin_map" style="
        width:100%; 
        height: 400px; 
        ">
    </div>
    <div class="map-overlay-inner" style="
        width: 25%;
        padding: 10px;">
    </div>
</div>    




<textarea id="map_geom" class="required hidden" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>

<script>

// Get the name of the feature being edited so it can be filtered

const name = django.jQuery('#id_name').val();

{% if serialized|length > 0 %}

const geomJson = JSON.parse('{{ serialized|safe }}');
const mapCenter = turf.center(geomJson).geometry.coordinates;

const zoom = {{ config.ZOOM }};

{% else %}

const mapCenter = [{{ config.MAP_CENTER_LONGITUDE }}, {{ config.MAP_CENTER_LATITUDE}}];
	
{% endif %}

const geomType = '{{ geom_type }}';

const drawControlsConfig = {
	trash: true
}

switch(geomType) {
	case 'Point':
		drawControlsConfig.point = true;
		break;
    case 'MultiPoint':
        drawControlsConfig.point = true;
        break;
	case 'MultiPolygon':	
		drawControlsConfig.polygon = true;
	case 'MultiLineString':
		drawControlsConfig.line_string = true;
}


const baseMapStyleUrl = '{{ config.BASE_MAP_STYLE_URL|safe }}';
const baseMapStyleFile = '{{ config.BASE_MAP_STYLE_FILE|safe }}';
const baseMapStyleKey = '{{ config.MAPTILER_KEY }}';
mapboxgl.accessToken = '{{ config.MAPBOX_KEY }}';

// Right-to-left text
mapboxgl.setRTLTextPlugin(
    'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.3.0/mapbox-gl-rtl-text.js',
    null,
    true // Lazy load the plugin
);

const map = new mapboxgl.Map({
    container: 'admin_map',
    center: mapCenter,
    zoom: {{ config.ZOOM }},
    minZoom: {{ config.MIN_ZOOM }},
    maxZoom: {{ config.MAX_ZOOM }},
    attributionControl: true,
    logoPosition: 'top-left',
    scrollZoom: true,
    dragPan: true,
});

let draw;
let baseMapStyle;

{% load static %}
{% get_media_prefix as MEDIA_URL %}

/* Map style is now a choice of MapTiler default styles which can be set 
in constance, with raster map layers added on top using MapLayers (see 
mmt_map.models). The complete style is loaded from /tiles/style.json, so
it can be used here, and in principal in the front end too. */

/*
if (baseMapStyleFile != 'default.json') {
	baseMapStyle = '{{ MEDIA_URL}}' + baseMapStyleFile;
} else {
	baseMapStyle = baseMapStyleUrl;
}*/

baseMapStyle = '/tiles/style.json'

django.jQuery.get(baseMapStyle, function(data) {

    let style = data;

    // If the default map style is being used, add the key to the sources and glyphs urls
    //if (baseMapStyleUrl == '/static/js/default_map_style.json') {
    //    style.sources['Ordnance Survey Open Zoomstack'].url = style.sources['Ordnance Survey Open Zoomstack'].url + baseMapStyleKey;
    //    style.glyphs = style.glyphs + baseMapStyleKey;
    //}

    rasterLayers = style.layers.filter(l => l.type == 'raster')

    if (rasterLayers.length) {

        let label = `<label>Map Layers:</label>`;
        django.jQuery('.map-overlay-inner').append(label);

        rasterLayers.forEach(layer => {
            let checkbox = `<label><input type="checkbox" class="raster-layer-checkbox" data-layer-id="${layer.id}" checked> ${layer.id}</label><br>`;
            django.jQuery('.map-overlay-inner').append(checkbox);
        });

        // Add event listener to checkboxes
        django.jQuery('.raster-layer-checkbox').change(function() {
            let layerId = django.jQuery(this).data('layer-id');
            if (this.checked) {
                map.setLayoutProperty(layerId, 'visibility', 'visible');
            } else {
                map.setLayoutProperty(layerId, 'visibility', 'none');
            }
        });
    }



    map.setStyle(style);

    draw = new MapboxDraw({
		displayControlsDefault: false,
		controls: drawControlsConfig
	});

	map.addControl(draw, 'top-right');

	// If geomJson exists, add the feature to the map and zoom to it
	try {
		draw.add(geomJson);
		let bounds = turf.bbox(geomJson);
        map.fitBounds(bounds);
	} catch {
		// If it doesn't, do nothing
	}

	map.on('draw.create', updateGeom);
	map.on('draw.delete', updateGeom);
	map.on('draw.update', updateGeom);

});



map.on('load', function() { 

    map.addSource('interactive', {
        type: 'vector',
        url: '/tiles/interactive.json'
    });

    map.addLayer({
        'id': 'points',
        'source': 'interactive',
        'source-layer': 'points',
        'type': 'circle',
        'paint': {
            'circle-color': '#c1c1c1',
            'circle-radius': ["interpolate", ["linear"], ["zoom"], 
                14, ['*', 6, ['get', 'weight']],
                19, ['*', 12, ['get', 'weight']]
            ],
            'circle-opacity': 0.7,
            'circle-stroke-width': 2,
            'circle-pitch-alignment': 'map',
            'circle-stroke-color': '#c1c1c1'
        },
        'filter': ['!=', ['get', 'name'], name]
    });

    map.addLayer({
        'id': 'polygons',
        'source': 'interactive',
        'source-layer': 'polygons',
        'type': 'fill',
        'paint': {
            'fill-color': '#c1c1c1',
            'fill-opacity': 0.7,
        },
        'filter': ['!=', ['get', 'name'], name]
    });

    map.addLayer({
        'id': 'polygon_outlines',
        'source': 'interactive',
        'source-layer': 'polygons',
        'type': 'line',
        'paint': {
            'line-color': '#c1c1c1',
            'line-width': ["interpolate", ["linear"], ["zoom"], 
                14, 1, 
                19, 4
            ],
            'line-opacity': ["interpolate", ["linear"], ["zoom"], 
                14, 0.3, 
                19, 1
            ]
        },
        'filter': ['!=', ['get', 'name'], name]
    });

    map.addLayer({
        'id': 'lines',
        'source': 'interactive',
        'source-layer': 'lines',
        'type': 'line',
        'paint': {
            'line-color': '#c1c1c1',
            'line-width': ["interpolate", ["linear"], ["zoom"], 
                14, 1, 
                19, 4
            ],
            'line-opacity': ["interpolate", ["linear"], ["zoom"], 
                14, 0.3, 
                19, 1
            ]
        },
        'layout': {
            'line-cap': 'round'
        },
        'filter': ['!=', ['get', 'name'], name]
    });
    
});





function updateGeom(e) {
	let data = draw.getAll();
	// if there's a feature, add the json representation to the text area and the map
	if (data.features.length > 0) {
		// Only allow one feature to exist at a time. To add multi-polygons use a GIS (the results will be better in any case).
		if (data.features.length > 1) {
			let id = data.features[0].id;
			data.features.shift();
			draw.delete(id);
		}

		let feature = data.features[0].geometry;

		// Convert the GeoJSON to the correct feature types to match what GeoDjango expects. Lines and polygons are saved as MultiPolygons and MultiLineString geometries to support multi-part buildings or roads which can be added via a GIS; however, adding this editing capacity to the django admin site would be non-trivial.

		switch(feature.type) {
			case 'Polygon':
				feature.type = 'MultiPolygon';
				feature.coordinates = [feature.coordinates];
				break;
			case 'LineString':
				feature.type = 'MultiLineString';
				feature.coordinates = [feature.coordinates];
		}
		
		document.getElementById('map_geom').value = JSON.stringify(data.features[0].geometry);
	} else {
		document.getElementById('map_geom').value = '';
	}
}


</script>