version: '3.4'

# For use in development only. Starts two containers - one for MMT, one for postgres
# with volumes for the /app directory and the postgres data. /app dir mapped means that
# changes to the code reloads MMT.

services:
  db:
    image: kartoza/postgis:16-3.4
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${DJANGO_DB_USER}
      - POSTGRES_DBNAME=${DJANGO_DB_NAME}
      - POSTGRES_PASS=${DJANGO_DB_PASSWORD}
      - ALLOW_IP_RANGE=0.0.0.0/0
    ports:
      - 5433:5432
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  memorymaptoolkit:
    image: memorymaptoolkit
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - static:/app/static
      - media:/app/media
      - backups:/app/backups
      - .:/app
    depends_on:
      db:
        condition: service_healthy
    command: python manage.py runserver 0.0.0.0:8000 --settings=memorymap_toolkit.settings.local
    ports:
      - 8000:8000
    env_file:
      - .env
    environment:
      - DJANGO_DB_USER=${DJANGO_DB_USER}
      - DJANGO_DB_NAME=${DJANGO_DB_NAME}
      - DJANGO_DB_PASSWORD=${DJANGO_DB_PASSWORD}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - DJANGO_SECURE_SSL_HOST=${DJANGO_SECURE_SSL_HOST}
      - DJANGO_SESSION_COOKIE_SECURE=${DJANGO_SESSION_COOKIE_SECURE}
      - DJANGO_CSRF_COOKIE_SECURE=${DJANGO_CSRF_COOKIE_SECURE}
      - DJANGO_DB_HOST=${DJANGO_DB_HOST}
volumes:
  postgres_data:
  static:
  media:
  backups:
