DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS= 
DJANGO_DB_HOST=
DJANGO_DB_NAME=
DJANGO_DB_USER=
DJANGO_DB_PASSWORD=
DJANGO_SECURE_SSL_HOST=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False