{% load analytical %}
<!doctype html>
	<html lang="en">
	<head>
		{% analytical_head_top %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Nunito+Sans:300,300i" rel="stylesheet"> 

		<!-- Mapbox GL -->
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />

		<!-- Turf -->
		<!--<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>-->
		<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>

		<!-- Custom Styles -->
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

		{% if config.CUSTOM_CSS != 'default.css' %}
		{% get_media_prefix as MEDIA_URL %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}{{ config.CUSTOM_CSS }}">
		{% endif %}

		<!-- Howler -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>


		<title>{{ config.SITE_TITLE }}</title>

		<script type="application/ld+json">	
			{{ config.SITE_METADATA|safe }}
		</script>

		{% analytical_head_bottom %}
	</head>



	<body>
		{% analytical_body_top %}
		<div class="container-fluid full_height site_container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				
				{% if config.LOGO_IMAGE == 'default.png' %}
				<a class="navbar-brand d-none d-sm-block" href="#">{{ config.SITE_TITLE }}</a>
				<a class="navbar-brand d-sm-none d-block" href="#">{{ config.SITE_TITLE }}</a>
				{% else %}
				<a class="navbar-brand d-none d-sm-block" href="/"><img src="{{ MEDIA_URL }}{{ config.LOGO_IMAGE }}" alt="{{ config.SITE_TITLE }}" width="auto" height="30" /></a>
				<a class="navbar-brand d-sm-none d-block" href="/"><img src="{{ MEDIA_URL }}{{ config.LOGO_IMAGE }}" alt="{{ config.SITE_TITLE }}" width="auto" height="30" /></a>
				{% endif %}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto menu_links">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							About
							</a>
							<div class="dropdown-menu" id="pages" aria-labelledby="navbarDropdown">
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Themes
							</a>
							<div class="dropdown-menu" id="themes" aria-labelledby="navbarDropdown">
							</div>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" placeholder="Search visible sites" aria-label="Search" id="map_search">
					</form>
				</div>
			</nav>

			{% block content %}

			{% endblock %}

			<div class="modal fade" id="welcomeMessageModal" tabindex="-1" role="dialog" aria-labelledby="Welcome" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="welcomeMessageLongTitle">Welcome</h5>
						</div>
						<div class="modal-body">
							<p>{{ config.WELCOME_MESSAGE }}</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script src="{% static 'underscore/underscore-min.js' %}"></script>

		{% block scripts %}
		{% endblock %}

		<script src="{% static 'js/pageHandler.js' %}"></script>
		{% analytical_body_bottom %}
	</body>
</html>