{% extends 'mmt_map/base.html' %}

{% block content %}
{% load static %}

<div class="row full_height iface_container">
	<div class="col map_container" id="map">
	</div>
</div>

{% endblock %}

{% block scripts %}

<script>

// Instantiate a global MmtMap object that will deal with everything related to map interactions and data. Further methods and properties for dealing with hover interactions, click interactions, filtering and search are added in interactionHandler.js, filters.js and search.js.

mapboxgl.accessToken = '{{ config.MAPBOX_KEY }}';

const MmtMap = {

	settings: {
		mapCenter: [{{ config.MAP_CENTER_LONGITUDE }}, {{ config.MAP_CENTER_LATITUDE }}],
		zoom: {{ config.ZOOM }},
		{% if bounds %}
		maxBounds: {{ bounds }},
		{% endif %}
		maxZoom: {{ config.MAX_ZOOM }},
		minZoom: {{ config.MIN_ZOOM }},
		pitch: {{ config.PITCH }},
		bearing: {{ config.BEARING }},
		scale: '{{ config.SCALE }}',
		font: '{{ config.FEATURE_LABEL_FONT}}',
		hoverThumbs: {% if config.HOVER_THUMBNAILS %}true{% else %}false{% endif %}
	},

	themes: [
		{% for theme in themes %}
		{
			'id': '{{ theme.id }}',
			'name': '{{ theme }}',
			'color': '{{ theme.color }}'
		},
		{% endfor %}
	],

	tagLists: [
		{% for tl in tag_lists %}
		{
			'id': '#taglist_{{ tl.id }}',
			'name': '{{ tl.name }}',
			'tags': [{% for tag in tl.tags.all %}"{{ tag }}",{% endfor %}]
		},
		{% endfor %}
	],

	{% if themes %}
	themeStyleExpressions: [
    'case',
	    {% for theme in themes %}
        ['==', ['to-number', ['get', 'theme_id']], {{ theme.id }}], 
        '{{ theme.color }}',
        {% endfor %}
        '#44a3fc'
    ],
    {% else %}

    themeStyleExpressions: '#44a3fc',

    {% endif %}


    addStyle: function() {

    	// Loads the correct map style source depending on whether the user is using a link to an external map style or has uploaded a file

		let baseMapStyleUrl = '{{ config.BASE_MAP_STYLE_URL|safe }}';

		let baseMapStyleFile = '{{ config.BASE_MAP_STYLE_FILE }}';

		{% get_media_prefix as MEDIA_URL %}

		if (baseMapStyleFile != 'default.json') {
			MmtMap.style = '{{ MEDIA_URL}}' + baseMapStyleFile;
		} else {
			MmtMap.style = baseMapStyleUrl;
		}

	},

	baseMapStyleKey: '{{ config.MAPTILER_KEY }}',

	switchableLayers: '{{ config.SWITCHABLE_LAYERS }}'.split(',')

}




</script>

<script src="{% static 'js/audioHandler.js' %}"></script>
<script src="{% static 'js/interactionHandler.js' %}"></script>
<script src="{% static 'js/mapHandler.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/pageHandler.js' %}"></script>

<script>
	pageHandler.populatePageMenu();
	pageHandler.loadFeatureDetailFromUrlParams();
	pageHandler.showWelcomeMessage();
</script>
{% endblock %}
